/* _______________________________________________________________________________________________________________________________________________________________________

GENERAL

    _______________________________________________________________________________________________________________________________________________________________________ */
body
{
    background-color: #F4E7D4;
}
h1{
    margin-bottom: 40px;
}
p
{
    text-align: justify;
    
}
a{
    color:black;
    
}
.Editorial
{
    color: orange!important;
}
.Roman
{
    color: cornflowerblue!important;
}
/* _______________________________________________________________________________________________________________________________________________________________________

BOUTON DE DECONNEXION

    _______________________________________________________________________________________________________________________________________________________________________ */
#bouton-delog
{
    margin-left: 10px!important;
}
/* _______________________________________________________________________________________________________________________________________________________________________

PAGE JEAN FORTEROCHE PRESENTATION

    _______________________________________________________________________________________________________________________________________________________________________ */
img{
    width: 100%;
}


